{{define "content"}}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-auto">
            <h2 class="page-title">添加应用</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form id="app" class="card" method="post">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label">分组</label>
                            <select name="group_id" class="form-select">
                                <option value="">请选择</option>
                                {{- range .GroupList}}
                                <option value="{{.ID}}" {{if eq $.App.GroupID .ID}}selected{{end}}>{{.Name}}</option>
                                {{- end}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2">
                            <label class="form-label">运行实例</label>
                            <select name="agent_id" class="form-select" required>
                                <option value="">请选择</option>
                                {{- range .AgentList}}
                                <option value="{{.ID}}" {{if eq $.App.AgentID .ID}}selected{{end}}>{{.IP}}:{{.Port}}</option>
                                {{- end}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="form-label">名称</label>
                            <input name="name" type="text" class="form-control" placeholder="请输入名称" value="{{.App.Name}}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="form-label">执行目录</label>
                            <input name="dir" type="text" class="form-control" placeholder="请输入执行目录" value="{{.App.Dir}}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="form-label">执行程序</label>
                            <input name="program" type="text" class="form-control" placeholder="请输入执行程序" value="{{.App.Program}}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="form-label">执行参数</label>
                            <input name="args" type="text" class="form-control" placeholder="请输入执行参数" value="{{.App.Args}}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="form-label">标准输出路径</label>
                            <input name="std_out" type="text" class="form-control" placeholder="请输入标准输出路径" value="{{.App.StdOut}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="form-label">错误输出路径</label>
                            <input name="std_err" type="text" class="form-control" placeholder="请输入错误输出路径" value="{{.App.StdErr}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="form-label">是否自动重启</label>
                            <label class="form-check form-switch">
                                <input name="auto_restart" class="form-check-input" type="checkbox" {{if eq .App.AutoRestart 1}}checked{{end}}>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-2">
                            <label class="form-label">是否开启监控</label>
                            <label class="form-check form-switch">
                                <input name="is_monitor" class="form-check-input" type="checkbox" {{if eq .App.IsMonitor 1}}checked{{end}}>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <input name="id" type="hidden" class="form-control" placeholder="请输入名称" value="{{.App.ID}}" required>
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </form>
    </div>
</div>
{{end}}
{{define "script"}}
<script type="text/javascript">
    $(document).ready(function () {
        $('#group_id').selectize({});
        $('#agent_id').selectize({});
        $("#app").on("submit", function (event) {
            $('#app').ajaxSubmit({
                url: "/app/update",
                dataType: "json",
                timeout: 60000,
                success: function (data) {
                    if (data.code == 200) {
                        window.location.href = "/app/list";
                    } else {
                        alert(data.message);
                    }
                }
            })
            return false;
        });
    });
</script>
{{end}}