{{define "content"}}
{{template "page_title" .}}
<div id="main" class="row">
    <div class="col-12">
        {{template "search_bar" .}}
        {{- range .List}}
        <div class="cmd-info card mb-2" data-bind= {{.ID}}>
            <div class="ribbon ribbon-left ribbon-bookmark bg-orange">
                <b>{{.ID}}</b>
            </div>
            <div class="card-header">
                {{template "header_status" .}}
                {{template "header_actions" .}}
            </div>
            <div class="card-body" style="display:none;">
                <dl class="row">
                    {{template "cmd_info" .}}
                    <dd class="col-12">
                        <span class="text-body text-h4">自动重启：</span>
                        <span class="text-muted">
                            {{if eq .AutoRestart 1}}是{{else}}否{{end}}
                        </span>
                    </dd>
                    <dd class="col-12">
                        <span class="text-body text-h4">开启监控：</span>
                        <span class="text-muted">
                            {{if eq .IsMonitor 1}}是{{else}}否{{end}}
                        </span>
                    </dd>
                </dl>
            </div>
        </div>
        {{end}}
    </div>
</div>
<div class="d-flex">
    {{.Pagination | unescaped}}
</div>
{{end}}
{{define "script"}}
<script type="text/javascript">
    $(document).ready(function () {
        $('#group_id').selectize({});
        $('#agent_id').selectize({});
        $('#status').selectize({});
        $("#main").delegate("button[action=submit]", "click", function () {
            $("#main").find("form").submit();
        }).delegate("button[action=reset]", "click", function () {
            window.location.href = "/app/list";
        }).delegate("button[action=add]", "click", function () {
            window.location.href = "/app/add";
        }).delegate("button[action=show]", "click", function () {
            $(this).parent().parent().next().toggle();
        }).delegate("button[action=edit]", "click", function () {
            window.location.href = "/app/edit?id=" + $(this).parents(".cmd-info").attr("data-bind");
        }).delegate("button[action=monitor]", "click", function () {
            window.location.href = "/app/monitor?id=" + $(this).parents(".cmd-info").attr("data-bind");
        }).delegate("button[action=archive]", "click", function () {
            window.location.href = "/app/archive?id=" + $(this).parents(".cmd-info").attr("data-bind");
        }).delegate("a[action=out_log]", "click", function () {
            window.location.href = "/app/out_log?id=" + $(this).parents(".cmd-info").attr("data-bind");
        }).delegate("a[action=err_log]", "click", function () {
            window.location.href = "/app/err_log?id=" + $(this).parents(".cmd-info").attr("data-bind");
        }).delegate("button[action=start]", "click", function () {
            var url  = "/app/start?id=" + $(this).parents(".cmd-info").attr("data-bind");
            $.getJSON(url, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        }).delegate("button[action=restart]", "click", function () {
            var url  = "/app/restart?id=" + $(this).parents(".cmd-info").attr("data-bind");
            $.getJSON(url, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        }).delegate("button[action=pause]", "click", function () {
            var url  = "/app/pause?id=" + $(this).parents(".cmd-info").attr("data-bind");
            $.getJSON(url, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        }).delegate("button[action=delete]", "click", function () {
            var url  = "/app/delete?id=" + $(this).parents(".cmd-info").attr("data-bind");
            $.getJSON(url, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        });
    });
</script>
{{end}}