{{define "content"}}
{{template "page_title" .}}
<div id="main" class="row">
    <div class="col-12">
        {{template "search_bar" .}}
        {{- range .List}}
        <div class="cmd-info card mb-2" data-mod="app" data-bind={{.ID}}>
            <div class="ribbon ribbon-left ribbon-bookmark bg-orange">
                <b>{{.ID}}</b>
            </div>
            <div class="card-header">
                {{template "header_status" .}}
                {{template "header_actions" .}}
            </div>
            <div class="card-body">
                <dl class="row">
                    {{template "cmd_info" .}}
                    <dd class="col-12">
                        <span class="text-body text-h4">自动重启：</span>
                        <span class="text-muted">
                            {{if eq .AutoRestart 1}}是{{else}}否{{end}}
                        </span>
                    </dd>
                    <dd class="col-12">
                        <span class="text-body text-h4">开启监控：</span>
                        <span class="text-muted">
                            {{if eq .IsMonitor 1}}是{{else}}否{{end}}
                        </span>
                    </dd>
                </dl>
            </div>
        </div>
        {{end}}
    </div>
</div>
<div class="d-flex">
    {{.Pagination | unescaped}}
</div>
{{end}}
{{define "script"}}
<script type="text/javascript">
    $(document).ready(function () {
        $('#group_id').selectize({});
        $('#agent_id').selectize({});
        $('#status').selectize({});
        Asgard.listDelegate("app");
    });
</script>
{{end}}