{{define "content"}}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-auto">
            <h2 class="page-title">实例列表</h2>
        </div>
        <div class="col-auto">
            <div class="text-muted text-h4" style="margin-top: 10px;">总记录数:{{.Total}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div>
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th style="width: 5%"><span>ID</span></th>
                            <th style="width: 10%"><span>别名</span></th>
                            <th style="width: 15%"><span>地址</span></th>
                            <th style="width: 10%"><span>状态</span></th>
                            <th style="width: 56%" class="text-right">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{- range .List}}
                        <tr>
                            <td>{{.ID}}</td>
                            <td>{{.Alias}}</td>
                            <td>{{.IP}}:{{.Port}}</td>
                            <td>
                                {{if eq .Status 0}}
                                <span class="badge bg-gray">offline</span>
                                {{else if eq .Status 1}}
                                <span class="badge bg-green">online</span>
                                {{else if eq .Status -1}}
                                <span class="badge bg-red">forbidden</span>
                                {{end}}
                            </td>
                            <td class="text-right">
                                <div class="btn-list">
                                    <a href="/agent/edit?id={{.ID}}" title="编辑" class="btn btn-sm btn-secondary ml-auto">
                                        {{include "partials/svg/edit"}}
                                        编辑
                                    </a>
                                    <a href="/monitor/agent?id={{.ID}}" title="运行状态" class="btn btn-sm btn-info">
                                        {{include "partials/svg/monitor"}}
                                        运行状态
                                    </a>
                                    <a href="/app/list?agent_id={{.ID}}" title="应用列表" class="btn btn-sm btn-info">
                                        {{include "partials/svg/app"}}
                                        应用列表
                                    </a>
                                    <a href="/job/list?agent_id={{.ID}}" title="计划任务列表" class="btn btn-sm btn-info">
                                        {{include "partials/svg/job"}}
                                        计划任务列表
                                    </a>
                                    <a href="/timing/list?agent_id={{.ID}}" title="定时任务列表" class="btn btn-sm btn-info">
                                        {{include "partials/svg/timing"}}
                                        定时任务列表
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {{- end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    {{.Pagination | unescaped}}
</div>
{{end}}
{{define "script"}}
{{end}}