{{define "content"}}
{{template "page_title" .}}
<div id="main" class="row" data-mod="user">
    <div class="col-12">
        <form class="mb-3">
            <div class="row">
                <div class="col-xl-6">
                    {{include "partials/input/phone"}}
                </div>
                <div class="col-xl-6">
                    {{include "partials/input/email"}}
                </div>
                <div class="col-xl-6">
                    {{include "partials/input/nickname"}}
                </div>
                <div class="col-xl-6">
                    {{include "partials/select/status"}}
                </div>
                <div class="col btn-list">
                    <button action="submit" type="button" class="btn btn-primary">
                        {{include "partials/svg/search"}}
                        查询
                    </button>
                    <button action="list" type="button" class="btn btn-info">
                        {{include "partials/svg/reset"}}
                        重置
                    </button>
                    <button action="add" type="button" class="btn btn-success">
                        {{include "partials/svg/add"}}
                        新增
                    </button>
                </div>
            </div>
        </form>
        <div class="card">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable overflow-hidden">
                    <thead>
                        <tr>
                            <th style="width: 5%"><span>头像</span></th>
                            <th style="width: 20%"><span>用户名</span></th>
                            <th style="width: 15%"><span>邮箱</span></th>
                            <th style="width: 15%"><span>手机</span></th>
                            <th style="width: 5%"><span>状态</span></th>
                            <th style="width: 40%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{- range .List}}
                        <tr data-bind="{{.ID}}">
                            <td>
                                <span class="avatar avatar-md"
                                    style="background-image: url({{.Avatar}})"></span>
                            </td>
                            <td>{{.NickName}}</td>
                            <td>{{.Email}}</td>
                            <td>{{.Mobile}}</td>
                            <td>
                                {{if eq .Status 0}}
                                <span class="badge bg-gray">Unverified</span>
                                {{end}}
                                {{if eq .Status 1}}
                                <span class="badge bg-green">Normal</span>
                                {{end}}
                                {{if eq .Status -1}}
                                <span class="badge bg-red">Forbidden</span>
                                {{end}}
                            </td>
                            <td class="text-right">
                                <div class="cmd-info btn-list" data-bind="{{.ID}}">
                                    {{if eq $.Role "Administrator"}}
                                    <button action="edit" class="btn btn-secondary btn-sm ml-auto">
                                        {{include "partials/svg/edit"}}
                                        编辑
                                    </button>
                                    <button action="reset_password" class="btn btn-secondary btn-sm">
                                        修改密码
                                    </button>
                                    {{if eq .Status 0}}
                                    <button action="verify" class="btn btn-success btn-sm">
                                        {{include "partials/svg/verify"}}
                                        审核
                                    </button>
                                    {{end}}
                                    <button action="forbidden" class="btn btn-danger btn-sm">
                                        {{include "partials/svg/forbidden"}}
                                        禁用
                                    </button>
                                    {{end}}
                                </div>
                            </td>
                        </tr>
                        {{- end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    {{.Pagination | unescaped}}
</div>
{{end}}
{{define "script"}}
<script type="text/javascript">
    $(document).ready(function () {
        $('#status').selectize({});
        Asgard.init("#main", "user");
    });
</script>
{{end}}