{{define "content"}}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-auto">
            <h2 class="page-title">
                用户列表
            </h2>
        </div>
        <div class="col-auto">
            <div class="text-muted text-h5 mt-2">总记录数:{{.Total}}</div>
        </div>
        <div class="col-auto ml-auto d-print-none">
            <div class="d-flex">
                <a href="/user/add" class="btn btn-success">
                    {{include "partials/svg/add"}}
                    新增用户
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable overflow-hidden">
                    <thead>
                        <tr>
                            <th style="width: 5%"><span>头像</span></th>
                            <th style="width: 20%"><span>用户名</span></th>
                            <th style="width: 15%"><span>邮箱</span></th>
                            <th style="width: 15%"><span>手机</span></th>
                            <th style="width: 5%"><span>状态</span></th>
                            <th style="width: 40%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{- range .List}}
                        <tr data-bind="{{.ID}}">
                            <td>
                                <span class="avatar avatar-md"
                                    style="background-image: url({{.Avatar}})"></span>
                            </td>
                            <td>{{.NickName}}</td>
                            <td>{{.Email}}</td>
                            <td>{{.Mobile}}</td>
                            <td>
                                {{if eq .Status 0}}
                                <span class="badge bg-gray">Unverified</span>
                                {{end}}
                                {{if eq .Status 1}}
                                <span class="badge bg-green">Normal</span>
                                {{end}}
                                {{if eq .Status -1}}
                                <span class="badge bg-red">Forbidden</span>
                                {{end}}
                            </td>
                            <td class="text-right">
                                <div class="btn-list">
                                    {{if eq $.Role "Administrator"}}
                                    <a href="/user/edit?id={{.ID}}" title="编辑" class="btn btn-secondary btn-icon ml-auto">
                                        {{include "partials/svg/edit"}}
                                    </a>
                                    <a href="/user/reset_password?id={{.ID}}" title="修改密码" class="btn btn-secondary btn-icon">
                                        {{include "partials/svg/option"}}
                                    </a>
                                    {{if eq .Status 0}}
                                    <a data-bind="{{.ID}}" href="javascript:;" action="verify" title="审核" class="btn btn-success btn-icon">
                                        {{include "partials/svg/verify"}}
                                    </a>
                                    {{end}}
                                    <a data-bind="{{.ID}}" href="javascript:;" action="forbidden" title="删除" class="btn btn-danger btn-icon">
                                        {{include "partials/svg/forbidden"}}
                                    </a>
                                    {{end}}
                                </div>
                            </td>
                        </tr>
                        {{- end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    {{.Pagination | unescaped}}
</div>
{{end}}
{{define "script"}}
<script type="text/javascript">
    $(document).ready(function () {
        $("table").delegate("a[action=forbidden]", "click", function () {
            var id = $(this).attr("data-bind");
            $.getJSON("/user/forbidden?id=" + id, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        }).delegate("a[action=verify]", "click", function () {
            var id = $(this).attr("data-bind");
            $.getJSON("/user/verify?id=" + id, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        })
    });
</script>
{{end}}