<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<meta http-equiv="Content-Language" content="en"/>
<meta name="msapplication-TileColor" content="#206bc4"/>
<meta name="theme-color" content="#206bc4"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="HandheldFriendly" content="True"/>
<meta name="MobileOptimized" content="320"/>
<link rel="icon" href="/assets/image/favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="/assets/image/favicon.ico" type="image/x-icon"/>
<!-- Libs CSS -->
<link href="/assets/css/jqvmap.min.css" rel="stylesheet"/>
<link href="/assets/css/selectize.css" rel="stylesheet"/>
<!-- Tabler Core -->
<link href="/assets/css/tabler.min.css" rel="stylesheet"/>
<!-- Tabler Plugins -->
<link href="/assets/css/tabler-flags.min.css" rel="stylesheet"/>