<!doctype html>
<html lang="zh-CN">
<header>
    <title>Asgard Framework - {{.Subtitle}}</title>
    {{include "layouts/header"}}
</header>

<body class="antialiased">
    <div class="wrapper">
        {{include "layouts/sidebar"}}
        <div class="content">
            {{include "layouts/top"}}
            <div class="content-page">
                <main class="container my-4 flex-fill">
                    {{template "content" .}}
                </main>
            </div>
        </div>
    </div>
</body>
<footer>
    {{include "layouts/footer"}}
</footer>
{{template "script" .}}
</html>