<aside class="sidebar sidebar-dark">
    <!-- Sidebar logo -->
    <a href="/" class="sidebar-brand">
        <img src="/assets/image/logo.svg" alt="Tabler" class="sidebar-brand-logo sidebar-brand-logo-lg">
        <img src="/assets/image/logo.svg" alt="Tabler" class="sidebar-brand-logo sidebar-brand-logo-sm">
    </a>
    <div class="sidebar-content">
        <div>
            <!-- Sidebar menu -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item">
                    <a href="/" class="sidebar-nav-link">
                        {{include "partials/svg/home"}}
                        <span class="nav-text">首页</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/user/list" class="sidebar-nav-link">
                        {{include "partials/svg/user"}}
                        <span class="nav-text">用户管理</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/agent/list" class="sidebar-nav-link">
                        {{include "partials/svg/agent"}}
                        <span class="nav-text">实例管理</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/group/list" class="sidebar-nav-link">
                        {{include "partials/svg/group"}}
                        <span class="nav-text">分组管理</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/app/list" class="sidebar-nav-link">
                        {{include "partials/svg/app"}}
                        <span class="nav-text">应用管理</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/job/list" class="sidebar-nav-link">
                        {{include "partials/svg/job"}}
                        <span class="nav-text">计划任务管理</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/timing/list" class="sidebar-nav-link">
                        {{include "partials/svg/timing"}}
                        <span class="nav-text">定时任务管理</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/exception/list" class="sidebar-nav-link">
                        {{include "partials/svg/waining"}}
                        <span class="nav-text">异常记录</span>
                    </a>
                </li>
                <li class="sidebar-nav-item">
                    <a href="/operation/list" class="sidebar-nav-link">
                        {{include "partials/svg/list"}}
                        <span class="nav-text">操作日志</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="mt-auto">
            <a href="/logout" class="btn btn-primary btn-block">
                {{include "partials/svg/exit"}}
                退出登录
            </a>
        </div>
    </div>
</aside>