{{define "content"}}
{{template "page_title" .}}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div>
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th style="width: 80%"><span>描述</span></th>
                            <th style="width: 20%"><span>操作时间</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{- range .List}}
                        <tr data-bind="{{.ID}}">
                            <td>{{.Desc}}</td>
                            <td>{{.CreatedAt}}</td>
                        </tr>
                        {{- end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    {{.Pagination | unescaped}}
</div>
{{end}}
{{define "script"}}
{{end}}