{{define "content"}}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-auto">
            <h2 class="page-title">
                计划任务列表
            </h2>
        </div>
        <div class="col-auto">
            <div class="text-muted text-h5 mt-2">总记录数:{{.Total}}</div>
        </div>
        <div class="col-auto ml-auto d-print-none">
            <div class="d-flex">
                <a href="/job/add" class="btn btn-green">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    新增计划任务
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable overflow-hidden">
                    <thead>
                        <tr>
                            <th style="width: 30%"><span>名称</span></th>
                            <th style="width: 20%"><span>分组</span></th>
                            <th style="width: 20%"><span>运行配置</span></th>
                            <th style="width: 10%"><span>监控</span></th>
                            <th style="width: 10%"><span>状态</span></th>
                            <th style="width: 10%" class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{- range .List}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.GroupName}}</td>
                            <td>{{.Spec}}</td>
                            <td>
                                <label class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" {{if eq .IsMonitor 1}}checked{{end}}>
                                </label>
                            </td>
                            <td>
                                <label class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" {{if eq .Status 1}}checked{{end}}>
                                </label>
                            </td>
                            <td class="text-right">
                                <span class="dropdown">
                                    <a class="btn-icon mx-2" data-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="icon">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/job/edit?id={{.ID}}">编辑</a>
                                        <a class="dropdown-item" href="/job/agent?id={{.ID}}">查看运行状态</a>
                                        <a class="dropdown-item" href="javascript:;" data-bind="{{.ID}}" action="delete">删除</a>
                                    </div>
                                </span>
                            </td>
                        </tr>
                        {{- end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    {{.Pagination | unescaped}}
</div>
{{end}}
{{define "script"}}
<script type="text/javascript">
    $(document).ready(function () {
        $("table").delegate("a[action=delete]", "click", function () {
            alert("删除");
        });
    });
</script>
{{end}}