{{define "content"}}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-auto">
            <h2 class="page-title">
                计划任务列表
            </h2>
        </div>
        <div class="col-auto">
            <div class="text-muted text-h5 mt-2">总记录数:{{.Total}}</div>
        </div>
        <div class="col-auto ml-auto d-print-none">
            <div class="d-flex">
                <a href="/job/add" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    新增计划任务
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="form-group row">
                                <label class="form-label col-form-label text-muted">分组：</label>
                                <div class="col">
                                    <select id="group_id" name="group_id" class="form-select">
                                        <option value="0">请选择</option>
                                        {{- range .GroupList}}
                                        <option value="{{.ID}}" {{if eq $.GroupID .ID}}selected{{end}}>{{.Name}}</option>
                                        {{- end}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group row">
                                <label class="form-label col-form-label text-muted">运行实例：</label>
                                <div class="col">
                                    <select id="agent_id" name="agent_id" class="form-select">
                                        <option value="0">请选择</option>
                                        {{- range .AgentList}}
                                        <option value="{{.ID}}" {{if eq $.AgentID .ID}}selected{{end}}>{{.IP}}:{{.Port}}</option>
                                        {{- end}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group row">
                                <label class="form-label col-form-label text-muted">名称：</label>
                                <div class="col">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="" value="{{.Name}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="form-group row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary ml-auto">查询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
                    <thead>
                        <tr>
                            <th style="width: 5%"><span>ID</span></th>
                            <th style="width: 20%"><span>名称</span></th>
                            <th style="width: 20%"><span>分组</span></th>
                            <th style="width: 20%"><span>运行实例</span></th>
                            <th style="width: 10%"><span>运行配置</span></th>
                            <th style="width: 5%"><span>状态</span></th>
                            <th style="width: 5%"><span>监控</span></th>
                            <th style="width: 10%" class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{- range .List}}
                        <tr data-bind="{{.ID}}">
                            <td>{{.ID}}</td>
                            <td>{{.Name}}</td>
                            <td>{{.GroupName}}</td>
                            <td>{{.AgentName}}</td>
                            <td>{{.Spec}}</td>
                            <td>
                                {{if eq .Status 0}}
                                <span class="badge bg-gray">stop</span>
                                {{else if eq .Status 1}}
                                <span class="badge bg-green">running</span>
                                {{else if eq .Status 2}}
                                <span class="badge bg-orange">pause</span>
                                {{else if eq .Status -1}}
                                <span class="badge bg-red">error</span>
                                {{end}}
                            </td>
                            <td>
                                {{if eq .IsMonitor 1}}是{{else}}否{{end}}
                            </td>
                            <td  class="text-right">
                                <span class="dropdown">
                                    <a class="btn-icon mx-2" data-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" class="icon">
                                            <circle cx="12" cy="12" r="1"></circle>
                                            <circle cx="12" cy="5" r="1"></circle>
                                            <circle cx="12" cy="19" r="1"></circle>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu" data-bind="{{.ID}}">
                                        <a class="dropdown-item" href="/job/show?id={{.ID}}">
                                            <svg class="icon icon-md cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                                                width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                                    clip-rule="evenodd"></path>
                                                <path fill-rule="evenodd"
                                                    d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">查看</span>
                                        </a>
                                        <a class="dropdown-item" href="/job/edit?id={{.ID}}">
                                            <svg class="icon icon-md cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                                                width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1" stroke-linecap="round"
                                                stroke-linejoin="round">
                                                <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7">
                                                </path>
                                                <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z">
                                                </path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">编辑</span>
                                        </a>
                                        <a class="dropdown-item" href="/job/monitor?id={{.ID}}">
                                            <svg class="icon icon-md cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                                                width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor">
                                                <path d="M2 2h1v16H2V2zm1 15h15v1H3v-1z"></path>
                                                <path fill-rule="evenodd"
                                                    d="M16.39 6.312l-4.349 5.437L9 8.707l-3.646 3.647-.708-.708L9 7.293l2.959 2.958 3.65-4.563.781.624z"
                                                    clip-rule="evenodd"></path>
                                                <path fill-rule="evenodd"
                                                    d="M12 5.5a.5.5 0 01.5-.5h4a.5.5 0 01.5.5v4a.5.5 0 01-1 0V6h-3.5a.5.5 0 01-.5-.5z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">监控信息</span>
                                        </a>
                                        <a class="dropdown-item" href="/job/archive?id={{.ID}}">
                                            <svg class="icon icon-md cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                                                width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M4 7v7.5c0 .864.642 1.5 1.357 1.5h9.286c.715 0 1.357-.636 1.357-1.5V7h1v7.5c0 1.345-1.021 2.5-2.357 2.5H5.357C4.021 17 3 15.845 3 14.5V7h1z"
                                                    clip-rule="evenodd"></path>
                                                <path fill-rule="evenodd"
                                                    d="M7.5 9.5A.5.5 0 018 9h4a.5.5 0 010 1H8a.5.5 0 01-.5-.5zM17 4H3v2h14V4zM3 3a1 1 0 00-1 1v2a1 1 0 001 1h14a1 1 0 001-1V4a1 1 0 00-1-1H3z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">归档信息</span>
                                        </a>
                                        <a class="dropdown-item" href="/job/out_log?id={{.ID}}">
                                            <svg class="icon icon-md cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                                                width="1em" height="1em" viewbox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M4 14.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">运行日志</span>
                                        </a>
                                        <a class="dropdown-item" href="/job/err_log?id={{.ID}}">
                                            <svg class="icon icon-md cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                                                width="1em" height="1em" viewbox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd"
                                                    d="M4 14.5a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h7a.5.5 0 010 1h-7a.5.5 0 01-.5-.5zm0-3a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">错误日志</span>
                                        </a>
                                        {{if or (eq .Status 0) (eq .Status 2)}}
                                        <a class="dropdown-item" href="javascript:;" action="start">
                                            <svg class="icon icon-md" width="1em" height="1em" viewBox="0 0 20 20"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M12.804 10L7 6.633v6.734L12.804 10zm.792-.696a.802.802 0 010 1.392l-6.363 3.692C6.713 14.69 6 14.345 6 13.692V6.308c0-.653.713-.998 1.233-.696l6.363 3.692z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">启动</span>
                                        </a>
                                        {{end}}
                                        {{if eq .Status 1}}
                                        <a class="dropdown-item" href="javascript:;" action="restart">
                                            <svg class="icon icon-md" width="1em" height="1em" viewBox="0 0 20 20"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M10 4.5A5.5 5.5 0 114.5 10a.5.5 0 00-1 0 6.5 6.5 0 103.25-5.63l.5.865A5.472 5.472 0 0110 4.5z"
                                                    clip-rule="evenodd"></path>
                                                <path fill-rule="evenodd"
                                                    d="M9.354 1.646a.5.5 0 00-.708 0l-2.5 2.5a.5.5 0 000 .708l2.5 2.5a.5.5 0 10.708-.708L7.207 4.5l2.147-2.146a.5.5 0 000-.708z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">重启</span>
                                        </a>
                                        <a class="dropdown-item" href="javascript:;" action="pause">
                                            <svg class="icon icon-md" width="1em" height="1em" viewBox="0 0 20 20"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M8 5.5a.5.5 0 01.5.5v8a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm4 0a.5.5 0 01.5.5v8a.5.5 0 01-1 0V6a.5.5 0 01.5-.5z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">停止</span>
                                        </a>
                                        {{end}}
                                        {{if or (eq .Status 0) (eq .Status 2)}}
                                        <a class="dropdown-item" href="javascript:;" action="delete">
                                            <svg class="icon icon-md cursor-pointer" xmlns="http://www.w3.org/2000/svg"
                                                width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor">
                                                <path
                                                    d="M7.5 7.5A.5.5 0 018 8v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V8z">
                                                </path>
                                                <path fill-rule="evenodd"
                                                    d="M16.5 5a1 1 0 01-1 1H15v9a2 2 0 01-2 2H7a2 2 0 01-2-2V6h-.5a1 1 0 01-1-1V4a1 1 0 011-1H8a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM6.118 6L6 6.059V15a1 1 0 001 1h6a1 1 0 001-1V6.059L13.882 6H6.118zM4.5 5V4h11v1h-11z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span class="cursor-pointer small text-muted">删除</span>
                                        </a>
                                        {{end}}
                                    </div>
                                </span>
                            </td>
                        </tr>
                        {{- end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    {{.Pagination | unescaped}}
</div>
{{end}}
{{define "script"}}
<script type="text/javascript">
    $(document).ready(function () {
        $("table").delegate("a[action=start]", "click", function () {
            var id = $(this).parent().attr("data-bind");
            $.getJSON("/job/start?id=" + id, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        }).delegate("a[action=restart]", "click", function () {
            var id = $(this).parent().attr("data-bind");
            $.getJSON("/job/restart?id=" + id, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        }).delegate("a[action=pause]", "click", function () {
            var id = $(this).parent().attr("data-bind");
            $.getJSON("/job/pause?id=" + id, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        }).delegate("a[action=delete]", "click", function () {
            var id = $(this).parent().attr("data-bind");
            $.getJSON("/job/delete?id=" + id, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        });
    });
</script>
{{end}}