{{define "content"}}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-auto">
            <h2 class="page-title">
                分组列表
            </h2>
        </div>
        <div class="col-auto">
            <div class="text-muted text-h5 mt-2">总记录数:{{.Total}}</div>
        </div>
        <div class="col-auto ml-auto d-print-none">
            <div class="d-flex">
                <a href="/group/add" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    新增分组
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table card-table table-vcenter text-nowrap datatable overflow-hidden">
                    <thead>
                        <tr>
                            <th style="width: 5%"><span>ID</span></th>
                            <th style="width: 15%"><span>名称</span></th>
                            <th style="width: 10%"><span>状态</span></th>
                            <th style="width: 60%" class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{- range .List}}
                        <tr data-bind="{{.ID}}">
                            <td>{{.ID}}</td>
                            <td>{{.Name}}</td>
                            <td>
                                {{if eq .Status 0}}
                                <span class="badge bg-gray">Unusage</span>
                                {{end}}
                                {{if eq .Status 1}}
                                <span class="badge bg-green">Usage</span>
                                {{end}}
                            </td>
                            <td class="text-right">
                                <div class="btn-list">
                                    <a href="/group/edit?id={{.ID}}" title="编辑" class="btn btn-secondary btn-icon ml-auto">
                                        {{include "partials/svg/edit"}}
                                    </a>
                                    <a data-bind="{{.ID}}" href="javascript:;" action="delete" title="删除" class="btn btn-danger btn-icon">
                                        {{include "partials/svg/delete"}}
                                    </a>
                                    {{if eq .Status 1}}
                                    <a href="/app/list?group_id={{.ID}}" title="应用列表" class="btn btn-info btn-icon">
                                        {{include "partials/svg/app"}}
                                    </a>
                                    <a href="/job/list?group_id={{.ID}}" title="计划任务列表" class="btn btn-info btn-icon">
                                        {{include "partials/svg/job"}}
                                    </a>
                                    <a href="/timing/list?group_id={{.ID}}" title="定时任务列表" class="btn btn-info btn-icon">
                                        {{include "partials/svg/timing"}}
                                    </a>
                                    {{end}}
                                </div>
                            </td>
                        </tr>
                        {{- end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    {{.Pagination | unescaped}}
</div>
{{end}}
{{define "script"}}
<script type="text/javascript">
    $(document).ready(function () {
        $("table").delegate("a[action=delete]", "click", function () {
            var id = $(this).attr("data-bind");
            $.getJSON("/group/delete?id=" + id, function (data) {
                if (data.code == 200) {
                    alert("操作成功");
                    window.location.reload(true)
                } else {
                    alert(data.message);
                }
            })
        });
    });
</script>
{{end}}